<%- include('partials/header.ejs'); %>

    <h1>I am the Home respect me ok</h1>
    <p> <%= homeContent %> </p>
        <% homePost.forEach(function(post){ %>
            <h1> <%= post.title %></h1>
            <p><%= post.bodypost %></p>
       <% }) %>


    <%- include('partials/footer.ejs'); %>